<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/black-tie/jquery-ui-1.9.2.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/js/jquery-1.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
    <script>
        $(function () {
            $("button").button();
        });
    </script>
</head>
<body>
    <div id="mainContainer">
        <div id="headerBanner">
        </div>
        <div id="headerMenu">
            <a href="/Home"><button class="buttonMenuMain">Home</button></a>
            <a href="/Torrents/Browse"><button class="buttonMenuMain">Torrents</button></a>
            <a href="/Torrents/Upload"><button class="buttonMenuMain">Upload</button></a>
            <button class="buttonMenuMain">Forum</button>
            <button class="buttonMenuMain">Top 10</button>
            <a href="/Home/Regras"><button class="buttonMenuMain">Regras</button></a>
            <a href="/Home/Contato"><button class="buttonMenuMain">Contato</button></a>
        </div>
        <div id="userDataStrip">
            <div style="width:200px; float:left;">Olá, <a href="#">marcospcury</a> [<a href="#">Logout</a>]</div> 
            <div style="width:180px; float:left;"><img src="../../Content/Images/arrowup.gif" alt="Uploaded" /> 23.34 TB <img src="../../Content/Images/arrowdown.gif" alt="Downloaded" /> 2.55 TB </div>
            <div style="width:120px; float:left;">Ratio: 2.45 </div>
            <div style="width:120px; float:left;">Bonus: <a href="#">433.5</a></div>
            <div style="width:120px; float:left;">Convites: <a href="#">2</a></div>
            <div style="width:120px; float:left;"><img src="../../Content/Images/inbox.png" alt="Uploaded" /><a href="#"> Mensagens (0)</a></div>
            <br style="clear: both;" />
        </div>
        <div id="containerContent">
            @RenderBody()
            <br style="clear: both;" />
        </div>
    </div>
</body>
</html>
