<!DOCTYPE html>
<html>
<head>
    <title>BITshare</title>
    <link href="@Url.Content("~/Content/css/black-tie/jquery-ui-1.9.2.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ObjectIDs.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Classes.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/js/jquery-1.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/js/jquery-ui-1.9.2.custom.js")" type="text/javascript"></script>
    <script>
        $(function () {
            $("button").button();
        });
    </script>
</head>
<body>
    <div id="mainContainer">
        <div id="headerBanner">
        </div>
        <div id="headerMenu">
            <a href="/Home"><button class="buttonMenuMain">Home</button></a>
            <a href="/Torrents/Browse"><button class="buttonMenuMain">Torrents</button></a>
            <a href="/Torrents/Upload"><button class="buttonMenuMain">Upload</button></a>
            <button class="buttonMenuMain">Forum</button>
            <button class="buttonMenuMain">Top 10</button>
            <a href="/Home/Regras"><button class="buttonMenuMain">Regras</button></a>
            <a href="/Home/Contato"><button class="buttonMenuMain">Contato</button></a>
        </div>
        <div id="userDataStrip">
            <div style="width:200px; float:left;">Olá, <a href="@ViewBag.BaseURL/Users/Profile/@ViewBag.UsuarioLogado.IdUsuario">@ViewBag.UsuarioLogado.Nome</a> [<a href="@ViewBag.BaseURL/Users/Logout">Logout</a>]</div> 
            <div style="width:180px; float:left;"><img src="../../Content/Images/arrowup.gif" alt="Uploaded" /> @ViewBag.UsuarioLogado.Uploaded <img src="../../Content/Images/arrowdown.gif" alt="Downloaded" /> @ViewBag.UsuarioLogado.Downloaded </div>
            <div style="width:120px; float:left;">Ratio: @ViewBag.UsuarioLogado.Ratio</div>
            <div style="width:120px; float:left;">Bonus: <a href="@ViewBag.BaseURL/Users/Bonus/@ViewBag.UsuarioLogado.IdUsuario">@ViewBag.UsuarioLogado.Bonus</a></div>
            <div style="width:120px; float:left;">Convites: <a href="@ViewBag.BaseURL/Users/Invite/@ViewBag.UsuarioLogado.IdUsuario">@ViewBag.UsuarioLogado.ConvitesDisponiveis</a></div>
            <div style="width:120px; float:left;"><img src="../../Content/Images/inbox.png" alt="Uploaded" /><a href="#"> Mensagens (0)</a></div>
            <br style="clear: both;" />
        </div>
        <div id="containerContent">
            @RenderBody()
            <br style="clear: both;" />
        </div>
    </div>
</body>
</html>
